#board {
  margin: 0 auto;
  border-spacing: 0px;
  border: 2px dashed white;
  background-color: #0c0c0c;
  z-index: 0; }

td {
  border: 1px solid #0c0c0c;
  width: 1vw;
  height: 1vw; }

td.snake {
  background-color: white; }

td.snakeMid {
  background-color: white; }

td.snakeBack {
  background-color: white; }

td.empty {
  background-color: #0c0c0c; }

td.consumed {
  background-color: darkgrey; }

td.food {
  background-color: white; }

td.link {
  background-color: white; }

td.logo {
  background-color: white; }

body {
  background-color: #0c0c0c;
  position: fixed; }

button {
  border: none;
  background: none; }

button:focus {
  outline: 0; }

.mainContainer {
  display: flex;
  flex-direction: column; }

.score {
  color: white;
  z-index: 5;
  position: absolute;
  margin-top: 0.5vh;
  margin-left: 1vw; }

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
  margin-top: 75vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute; }

#playButtonContainer {
  position: absolute;
  z-index: 12;
  width: 20vw;
  align-self: center;
  margin-left: 2vw; }

#playButton {
  position: absolute;
  z-index: 12;
  margin-top: 62vh;
  align-self: center; }
