#board{
  margin: 0 auto;
  border-spacing: 0px;
  border: 2px dashed #4e9442;
  background-color: #0c0c0c;
  z-index: 0;
}

td{
  border: 1px solid #0c0c0c;
  width: 1vw;
  height: 1vw;
}

td.snake {
  background-color: #4e9442;
}

td.snakeMid {
  background-color: #976717;
}

td.snakeBack {
  background-color: #bb489a;
}

td.empty {
  background-color: #0c0c0c;
}

td.food {
  background-color: #ba489a;
}

td.link {
  background-color: lightblue;
}

td.logo {
  background-color: darkorange;
}

// background-image:
//     linear-gradient(
//       to top right,
//       #4e9442,
//       #976717,
//       #bb489a
//     );